cdk/cdk.out/*
cdk/src/Todo/bin/*
cdk/src/Todo/obj/*
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.deps.json
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.dll
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.pdb
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.runtimeconfig.dev.json
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.runtimeconfig.json
cdk/src/Todo/obj/project.assets.json
cdk/src/Todo/obj/Todo.csproj.nuget.cache
cdk/src/Todo/obj/Todo.csproj.nuget.dgspec.json
cdk/src/Todo/obj/Todo.csproj.nuget.g.props
cdk/src/Todo/obj/Todo.csproj.nuget.g.targets
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.AssemblyInfo.cs
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.AssemblyInfoInputs.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.assets.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csproj.CoreCompileInputs.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csproj.FileListAbsolute.txt
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csprojAssemblyReference.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.dll
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.pdb
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
webapi/bin/Debug/netcoreapp2.2/webapi.deps.json
webapi/bin/Debug/netcoreapp2.2/webapi.dll
webapi/bin/Debug/netcoreapp2.2/webapi.pdb
webapi/bin/Debug/netcoreapp2.2/webapi.runtimeconfig.dev.json
webapi/bin/Debug/netcoreapp2.2/webapi.runtimeconfig.json
webapi/obj/project.assets.json
webapi/obj/webapi.csproj.nuget.cache
webapi/obj/webapi.csproj.nuget.dgspec.json
webapi/obj/webapi.csproj.nuget.g.props
webapi/obj/webapi.csproj.nuget.g.targets
webapi/obj/Debug/netcoreapp2.2/webapi.AssemblyInfo.cs
webapi/obj/Debug/netcoreapp2.2/webapi.AssemblyInfoInputs.cache
webapi/obj/Debug/netcoreapp2.2/webapi.assets.cache
webapi/obj/Debug/netcoreapp2.2/webapi.csproj.CoreCompileInputs.cache
webapi/obj/Debug/netcoreapp2.2/webapi.csproj.FileListAbsolute.txt
webapi/obj/Debug/netcoreapp2.2/webapi.csprojAssemblyReference.cache
webapi/obj/Debug/netcoreapp2.2/webapi.dll
webapi/obj/Debug/netcoreapp2.2/webapi.pdb
webapi/obj/Debug/netcoreapp2.2/webapi.RazorAssemblyInfo.cache
webapi/obj/Debug/netcoreapp2.2/webapi.RazorAssemblyInfo.cs
webapi/obj/Debug/netcoreapp2.2/webapi.RazorTargetAssemblyInfo.cache
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
