cdk/cdk.out/*
cdk/src/Todo/bin/*
cdk/src/Todo/obj/*
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.deps.json
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.dll
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.pdb
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.runtimeconfig.dev.json
cdk/src/Todo/bin/Debug/netcoreapp2.1/Todo.runtimeconfig.json
cdk/src/Todo/obj/project.assets.json
cdk/src/Todo/obj/Todo.csproj.nuget.cache
cdk/src/Todo/obj/Todo.csproj.nuget.dgspec.json
cdk/src/Todo/obj/Todo.csproj.nuget.g.props
cdk/src/Todo/obj/Todo.csproj.nuget.g.targets
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.AssemblyInfo.cs
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.AssemblyInfoInputs.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.assets.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csproj.CoreCompileInputs.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csproj.FileListAbsolute.txt
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csprojAssemblyReference.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.dll
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.pdb
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
webapi/bin/Debug/netcoreapp2.2/webapi.deps.json
webapi/bin/Debug/netcoreapp2.2/webapi.dll
webapi/bin/Debug/netcoreapp2.2/webapi.pdb
webapi/bin/Debug/netcoreapp2.2/webapi.runtimeconfig.dev.json
webapi/bin/Debug/netcoreapp2.2/webapi.runtimeconfig.json
webapi/obj/project.assets.json
webapi/obj/webapi.csproj.nuget.cache
webapi/obj/webapi.csproj.nuget.dgspec.json
webapi/obj/webapi.csproj.nuget.g.props
webapi/obj/webapi.csproj.nuget.g.targets
webapi/obj/Debug/netcoreapp2.2/webapi.AssemblyInfo.cs
webapi/obj/Debug/netcoreapp2.2/webapi.AssemblyInfoInputs.cache
webapi/obj/Debug/netcoreapp2.2/webapi.assets.cache
webapi/obj/Debug/netcoreapp2.2/webapi.csproj.CoreCompileInputs.cache
webapi/obj/Debug/netcoreapp2.2/webapi.csproj.FileListAbsolute.txt
webapi/obj/Debug/netcoreapp2.2/webapi.csprojAssemblyReference.cache
webapi/obj/Debug/netcoreapp2.2/webapi.dll
webapi/obj/Debug/netcoreapp2.2/webapi.pdb
webapi/obj/Debug/netcoreapp2.2/webapi.RazorAssemblyInfo.cache
webapi/obj/Debug/netcoreapp2.2/webapi.RazorAssemblyInfo.cs
webapi/obj/Debug/netcoreapp2.2/webapi.RazorTargetAssemblyInfo.cache
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/src/Todo/obj/project.assets.json
cdk/src/Todo/obj/Todo.csproj.nuget.cache
cdk/src/Todo/obj/Todo.csproj.nuget.dgspec.json
cdk/src/Todo/obj/Todo.csproj.nuget.g.props
cdk/src/Todo/obj/Todo.csproj.nuget.g.targets
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.assets.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csprojAssemblyReference.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.dll
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.pdb
webapi/bin/Debug/netcoreapp3.0/Amazon.Extensions.Configuration.SystemsManager.dll
webapi/bin/Debug/netcoreapp3.0/appsettings.Development.json
webapi/bin/Debug/netcoreapp3.0/appsettings.json
webapi/bin/Debug/netcoreapp3.0/AWSSDK.Core.dll
webapi/bin/Debug/netcoreapp3.0/AWSSDK.Extensions.NETCore.Setup.dll
webapi/bin/Debug/netcoreapp3.0/AWSSDK.SimpleSystemsManagement.dll
webapi/bin/Debug/netcoreapp3.0/BouncyCastle.Crypto.dll
webapi/bin/Debug/netcoreapp3.0/Google.Protobuf.dll
webapi/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
webapi/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
webapi/bin/Debug/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
webapi/bin/Debug/netcoreapp3.0/MySql.Data.dll
webapi/bin/Debug/netcoreapp3.0/MySql.Data.EntityFrameworkCore.dll
webapi/bin/Debug/netcoreapp3.0/Newtonsoft.Json.dll
webapi/bin/Debug/netcoreapp3.0/Remotion.Linq.dll
webapi/bin/Debug/netcoreapp3.0/Renci.SshNet.dll
webapi/bin/Debug/netcoreapp3.0/SshNet.Security.Cryptography.dll
webapi/bin/Debug/netcoreapp3.0/System.Configuration.ConfigurationManager.dll
webapi/bin/Debug/netcoreapp3.0/System.Interactive.Async.dll
webapi/bin/Debug/netcoreapp3.0/System.Security.Cryptography.ProtectedData.dll
webapi/bin/Debug/netcoreapp3.0/System.Xml.XPath.XmlDocument.dll
webapi/bin/Debug/netcoreapp3.0/todo-app
webapi/bin/Debug/netcoreapp3.0/todo-app.deps.json
webapi/bin/Debug/netcoreapp3.0/todo-app.dll
webapi/bin/Debug/netcoreapp3.0/todo-app.pdb
webapi/bin/Debug/netcoreapp3.0/todo-app.runtimeconfig.dev.json
webapi/bin/Debug/netcoreapp3.0/todo-app.runtimeconfig.json
webapi/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
webapi/bin/Debug/netcoreapp3.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
webapi/obj/todo-app.csproj.nuget.cache
webapi/obj/todo-app.csproj.nuget.dgspec.json
webapi/obj/todo-app.csproj.nuget.g.props
webapi/obj/todo-app.csproj.nuget.g.targets
webapi/obj/Debug/netcoreapp3.0/todo-app
webapi/obj/Debug/netcoreapp3.0/todo-app.AssemblyInfo.cs
webapi/obj/Debug/netcoreapp3.0/todo-app.AssemblyInfoInputs.cache
webapi/obj/Debug/netcoreapp3.0/todo-app.assets.cache
webapi/obj/Debug/netcoreapp3.0/todo-app.csproj.CopyComplete
webapi/obj/Debug/netcoreapp3.0/todo-app.csproj.FileListAbsolute.txt
webapi/obj/Debug/netcoreapp3.0/todo-app.csprojAssemblyReference.cache
webapi/obj/Debug/netcoreapp3.0/todo-app.dll
webapi/obj/Debug/netcoreapp3.0/todo-app.MvcApplicationPartsAssemblyInfo.cache
webapi/obj/Debug/netcoreapp3.0/todo-app.pdb
webapi/obj/Debug/netcoreapp3.0/todo-app.RazorTargetAssemblyInfo.cache
webapi/obj/Debug/netcoreapp3.0/staticwebassets/todo-app.StaticWebAssets.Manifest.cache
webapi/obj/Debug/netcoreapp3.0/staticwebassets/todo-app.StaticWebAssets.xml
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
cdk/src/Todo/obj/project.assets.json
cdk/src/Todo/obj/Todo.csproj.nuget.cache
cdk/src/Todo/obj/Todo.csproj.nuget.dgspec.json
cdk/src/Todo/obj/Todo.csproj.nuget.g.props
cdk/src/Todo/obj/Todo.csproj.nuget.g.targets
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.assets.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csprojAssemblyReference.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.dll
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.pdb
webapi/obj/todo-app.csproj.nuget.cache
webapi/obj/todo-app.csproj.nuget.dgspec.json
webapi/obj/todo-app.csproj.nuget.g.props
webapi/obj/todo-app.csproj.nuget.g.targets
cdk/src/Todo/obj/project.assets.json
cdk/src/Todo/obj/Todo.csproj.nuget.cache
cdk/src/Todo/obj/Todo.csproj.nuget.dgspec.json
cdk/src/Todo/obj/Todo.csproj.nuget.g.props
cdk/src/Todo/obj/Todo.csproj.nuget.g.targets
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.assets.cache
cdk/src/Todo/obj/Debug/netcoreapp2.1/Todo.csprojAssemblyReference.cache
cdk/cdk.out/manifest.json
cdk/cdk.out/TodoInfraStack.template.json
cdk/cdk.out/tree.json
